main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: auto;
}

.slide {
    scroll-snap-align: center;
    height: 100vh;
        /* overflow-y: scroll; */
}

.slide img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
